div.error_div {
    background-color: rgb(255, 241, 227);
}

div.error_div:first-child { 
    margin-top: 5em;
}

div.error_div .col-sm-12 {
    padding: 2em;
    margin: 0 auto;
}

div.error_div h2 {
    font-size: 3em;
    text-decoration: underline;
    margin-bottom: .5em;
}

div.error_div img { 
    border-collapse: collapse; 
    width: 100%;
    max-height: 50vh;
    margin: 0 auto;
}

div.error_div p {
    font-size: 1.4em;
    margin-top: .5em;
    font-style: italic;
}