#event_card {
    max-width: 80%;
    margin: 5% auto;
}

#event_card img {
    border: 1px solid lightgrey; 
    border-collapse: collapse; 
    object-fit: cover; 
    object-position: center; 
    width: 100%; 
    height: 25vh;
}

#event_card div.card {
    height: 100%; 
    border: none;
}

#event_card div.card .container {
    margin: 0; 
    border: 1px solid lightgrey; 
    border-collapse: collapse;
    max-width: 100%; 
    padding: 0;
}

#event_card .card-footer {
    padding: 0 !important;
    border: 1px solid lightgrey; 
    border-collapse: collapse; 
    width: 100%; 
    max-width: 100%;
}

#event_card .card-footer .row{
    margin: .25em 0 !important;
}

#event_card .card-footer .row * {
    margin: 0 !important;
}

#event_card .card-footer .row .col-sm-6:last-child {
    text-align: right;
}

#event_card button {
    width: 100%; 
    max-width: 100%;
    border: 0;
}

#event_card .card-body h1 input {
    width: 100%;
    max-width: 100%;
} 

#event_card .card-body p textarea {
    width: 100%;
    max-width: 100%;
} 