#group_card {
    max-width: 80%;
    margin: 5% auto;
}

#group_card .col-sm-3 {
    border: 0;
    border-radius: 0;
    height: 100%;
}

#group_card .col-sm-9 {
    height: 100%; 
    border: 0;
}

#group_card h1 {
    font-size: 3em;
}

#group_card h2 {
    font-size: 1.6em;
    font-weight: normal;
}


#group_card p {
    font-size: 1em;
    font-weight: lighter;
}

#group_card p#last_update {
    text-align: right;
}

#group_card .container {
    padding: 0;
}

#group_card .container:first-child {
    padding-right: .5em;
}

#group_card .container:not(:first-child) {
    border-top: 1px solid sandybrown;
    margin-top: 0.5em;
}