#post_form #post_container{ 
    max-width: 70%;
    margin:5% 15%;
    border-radius: .5em;
    padding: 0;
    background-color: white;
}


#post_form_lower p {
    margin: 0px;
}

#post_form_post{
    background-color: sandybrown;
    border:none;
    border-radius:1.5rem ;
    float: right;
    margin-right:10px;
}
#post_form_post:hover{
    background-color: rgb(241, 156, 80);
}


#post_form textarea {
    width: 100%;
    border-image: none;
    border-radius: 0px;
    border-style: none solid solid none;
    border-width: medium 0px 0px medium;
    font-size: 1em;
    line-height: 1.4em;
    transition: background-color 0.2s ease 0s;
}
   

#post_form input[type=text] {
    width: 100%;
    border-image: none;
    border-radius: 0.3em 0.3em 0 0;
    border-style: none solid solid none;
    border-width: medium 0px 0px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    font-size: 1.5em;
    line-height: 1.4em;
    transition: background-color 0.2s ease 0s;
}

#post_form_lower{

    border-image: none;
    border-radius: 0em 0em 0.3em 0.3em;
    border-style: none solid solid none;
    border-width: medium 0px 0px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;

    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#post_form div.row div.col-sm-6:first-child {
    padding-left: 0;
} 

#post_form div.row div.col-sm-6:last-child {
    padding-right: 0;
}

#post_form img, #post_form canvas {
    max-width: 100%;
    width: 100%;
}

#post_form img#image {
    border-bottom-left-radius: .5em;
}

#post_form .file {
    border-bottom-right-radius: .5em;
    float: right;
}

@media screen and (max-width: 575px) {
    #post_form_lower{
        flex-direction: column;
    }
}


#post_upload div{
    display: inline-block;
}
#post_upload div p {
    margin-left:10px
}

#post_title{
    padding-left: .5em;
}


#post_edit_button {
    margin: 0;
    padding: 0;
}

#post_edit_button button{
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
}

@media print {
    
}