.post_header{
    border-color: rgb(247, 214, 154);
}

.post_content{
    border-bottom: rgb(247, 214, 154) solid 2px;
    margin-bottom: 2em;
}


.post_comment_form{
    padding: 0.3em 0em;
    margin-bottom: 1em;
}

.post_comment_form_text{
    padding: 0px;
}

.post_comment_form_text textarea{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.01);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 0.4em;
    border-style: none solid solid none;
    border-width: medium 0px 0px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #444444;
    transition: background-color 0.2s ease 0s;
}

.post_like{
    color:darkgreen
}

.post_dislike{
    color: rgb(145, 47, 11);
}

.comment_container{
    padding-top: .5em;
    padding-bottom: .5em; 

    border-top: 0;
}

.post_container .comment_padding{
    padding-left: 5em   ;
}

.comment_text{
    position: relative;
    background:rgb(243, 238, 235);
	border-radius: 0 .4em .4em .4em;
}

.comment_container:target .comment_text {
    background:rgb(198, 223, 231);
}

.comment_text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: rgb(243, 238, 235);
	border-left: 0;
	border-top: 0;
	margin-top: 0px;
	margin-left: -15px;
}

.comment_container:target .comment_text:after {
    border-right-color: rgb(198, 223, 231);
}

.comment_text p{
    max-width: 100%;
    width: 100%; 
    padding-left: .5em; 
    border: 1px;
}

.comment_opt button{
    padding: 0;
    max-height: 100%; 
    height: 100%; 
    max-width: 100%; 
    width: 100%; 
    background-color: white; 
    border: 0;
}

.comment_opt button span{
    float: left; 
    margin-top: -1.5em;
    margin-left: 1em;
}



.options_entry{
    padding: 0;
}

.options_menu{
    padding-top:0;
    padding-bottom:0;
    max-width: 2rem;
}

.small_post_body{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.small_post_title{
    top:0;
}

.post_open_modal{
    text-align:left;
    background: none;
    color: inherit;
    border: none;
    padding: 0; 
    font: inherit; 
    cursor: pointer; 
    outline: inherit;
}

/*******************/
/** Comment Print **/
/*******************/

@media print {
    .comment_text {
        border: 1px solid lightgray;
    }

    .post_container {
        overflow: hidden;
    }
    
    .post_container {
    }
}